<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>inscripcion</title>
  <link rel="stylesheet" href="/EVA4.5/views/css/Style.css">
</head>
<body12>

  <div class="tarjetas123">
    
    <div class="tarjetausuario">
      <a href="/EVA4.5/views/html/inscripcionusuario.html" class="button">inscripcion de usuario</a>
      <p style="color: white;">este boton te llevara a la inscripcion de usuario ¿quieres ingresar?</p>
    </div>    

    <div class="tarjetaadministrador ">
      <a href="/EVA4.5/views/html/inscripcionadmin.html" class="button">inscripcion de Administrador Deportivo</a>
      <p style="color: white;">este boton te llevara a la inscripcion de usuario administrador ¡solo administradores pueden acceder!</p>
    </div>
    <div class="contenedor-boton-simple">
  <a href="/EVA4.5/views/html/PaginaWeb.html" class="boton-simple">Volver al inicio</a>
</div>
  </div>
</body12>
</html